{{#meg-layout layoutName="layouts/simple"}}
{{#if redirected}}
{{/if}}
    <div class="container signup">           
            <section>				
                <div id="container_demo" >                   
                    <div id="wrapper">               
                        <div id="register" class="form">
                            <form> 
                                <h1> {{t "signup.title"}} </h1>                                                     
                                <p> 
                                    <label for="usernamesignup" class="uname">{{t "signup.username"}}</label>
                                    {{input type="text" value=username placeholder="mysuper"}}
                                    <p style="color:red"> </p>
                                </p>
                                <p > 
                                    <label for="emailsignup" class="youmail"> {{t "signup.email"}}</label>
                                    {{input type="email" value=email placeholder="mysupermail@mail.com"}}
                                    <small class="below">{{errors.email}}</small>
                                </p>
                                <p> 
                                    <label for="passwordsignup" class="youpasswd">{{t "signup.password"}} </label>
                                    {{input type="password" value=password placeholder="eg. X8df!90EO"}}
    								<p style="color:red">{{model.passwordValidatorResult.error}}</p>
                                </p>
                                <p > 
                                    <label for="password_confirm" class="youpasswd">{{t "signup.password_confirmation"}} </label>
                                    {{input type="password" value=password_confirmation placeholder="eg. X8df!90EO"}}
   									<small class="below">{{errors.password_confirm}}</small>
                                </p>        
                                <p>      
                                    {{#if auth.signedOut}}  
                                    	<button {{action "createAccount" }} class="button"><img src="../images/landing-page/sign-in-mascot.svg" class="sign-in-mascot">{{t "signup.create"}}</button>                
                					{{/if}}
                					{{#if auth.signingIn}}
										<button class="button"><span class="loading-indicator--white"><i></i><i></i><i></i></span>{{t "signup.onboarding"}}</button>
									{{/if}}
								</p>
                                <p class="change_link">  
									Already a member ?
									<button class="signed-out button--signin" >{{t "signup.signin"}}</button>
								</p>
                            </form>
                        </div>
						
                    </div>
                </div>  
            </section>
        </div>     

{{/meg-layout}}
